/* colors */
$base-color: rgb(19, 139, 138);
$hover-color: rgb(77, 160, 160);
$dark-background-color: rgb(30, 30, 30);
$background-color: rgb(248, 249, 250);
$font-color: rgb(124, 124, 124);




$error_color: #EF90B2;
$active_color: rgb(66, 152, 202);
$icon-color: #DADCE2;
$input_color: rgb(66, 139, 202);
$bg-color: rgba(142, 157, 172, 0.4);
$home_bg_color: #B2C2D7;
$settings_bg_color: #8478F1;
$border_color: #E7E8EB;
$subtitle_color: #C4BDF6;
$body_color: #333;
$resource_color: #747C8B;
$resource_action_color: #DDE0E6;