<div class="wrap-container" [ngStyle]="{background: imageUrl ? 'url(' + imageUrl + ')' : '#ccc' }">
    <div class="register-container container">
        <div class="row">
            <div class="col-md-12 .col-sm-12 col-xs-12 col-centered">
                <!--<img src="assets/logo.svg.png" alt="logo" class="logo-style">-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 .col-sm-11 col-xs-11 col-centered" [ngSwitch]="userTypeUrl">
                <form name="form" (ngSubmit)="registerUser()" #f="ngForm" novalidate *ngSwitchCase="UserType.Person">
                    <div class="form-group">
                        <label for="emailAddress">Email address</label>
                        <input name="email" type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp"
                            placeholder="Enter email" [(ngModel)]="model.email" #email="ngModel" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password"
                            [(ngModel)]="model.password" #password="ngModel" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm password</label>
                        <input name="confirmPassword" type="password" class="form-control" id="confirmPassword"
                            placeholder="Password" [(ngModel)]="model.confirmPassword" #password="ngModel" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register user</button>
                </form>
                <form name="form" (ngSubmit)="registerCompany()" #f="ngForm" novalidate *ngSwitchCase="UserType.Company">
                    <div class="form-group">
                        <label for="emailAddress">Email address</label>
                        <input name="email" type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp"
                            placeholder="Enter email" [(ngModel)]="model.email" #email="ngModel" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password"
                            [(ngModel)]="model.password" #password="ngModel" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm password</label>
                        <input name="confirmPassword" type="password" class="form-control" id="confirmPassword"
                            placeholder="Password" [(ngModel)]="model.confirmPassword" #password="ngModel" required>
                    </div>
                    <div class="form-group">
                        <label for="bulstat">Bulstat</label>
                        <input name="bulstat" type="text" class="form-control" id="bulstat"
                            [(ngModel)]="model.bulstat" required (keypress)="isNumber($event)" maxlength="13">
                    </div>
                    <div class="form-group">
                        <label for="town">Select town</label>
                        <select class="form-control" id="town" name="townId" [(ngModel)]="model.townId">
                            <option selected disabled hidden>Select town</option>
                            <option *ngFor="let town of towns;" [value]="town.id">
                                {{town.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="town">Select business sector</label>
                        <select class="form-control" id="businessSector" name="businessSector" [(ngModel)]="model.businessSector">
                            <option selected disabled hidden>Select business sector</option>
                            <option *ngFor="let sector of businessSectors;" [value]="sector.id">
                                {{sector.name}}
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Register company</button>
                </form>
            </div>
        </div>
    </div>
</div>