@import '../../theme';

@media (max-width:1024px){
}

.search-offers {
    perfect-scrollbar{
        max-height: 200px;
        margin-bottom: 20px;
    }

    .list-group {
        //width:99%;
        //min-width:99%;
        min-height:200px; 
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: rgba(245, 245, 245, 0.5);
        padding: 11px;

        .list-group-item {
            padding-top: .20rem;
            padding-bottom: .20rem;
            margin: .15rem 1.25rem;
            border-radius:5px;
            cursor: pointer;

            span {
                font-size: 0.9rem;
            }
        }
    }

    .search-btn {
        width:300px;
        background-color: $base-color;
    }
}
